DATABASE_URL=
OANDA_API_KEY=
OANDA_ACCOUNT_ID=
OANDA_BASE_URL=https://api-fxpractice.oanda.com
OANDA_STREAM_URL=https://stream-fxpractice.oanda.com
FMP_API_KEY=
FMP_BASE_URL=
HOST=127.0.0.1
PORT=3000
